version: '3.2' # deprecated, указал, чтоб докер на впске не ругался
services:
  api:
    build:
      context: .
      dockerfile: src/Dockerfile
    env_file:
      - .env
    ports:
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/amnezia:/opt/amnezia:rw
    restart: always